/* header footer css */

@font-face {
    font-family: myFirstFont;
    src: url(PT_Sans_Caption\PTSansCaption-Regular.ttf);
}

@font-face {
    font-family: myFirstFont;
    src: url(PT_Sans_Caption\PTSansCaption-Regular.ttf);
    font-weight: bold;
}

body {
    margin: 0;
    font-family: myFirstFont;
}

@media only screen and (max-width: 770px) {
    .header {
        margin: 0;
        display: flex;
        font-size: 16px;
        font-weight: 300;
        color: #051A3B;
        background-color: #F6F6F6;
        height: 100px;
        justify-content: space-between;
    }
    .headName {
        font-size: 32px;
        font-weight: 400;
        margin-top: 10px;
        margin-right: 10px;
    }
    .headMoto {
        position: absolute;
        top: 70px;
        right: 10px;
    }
    .footer {
        display: flex;
        bottom: 0px;
        width: 100%;
        font-size: 14px;
        font-weight: 400;
        color: #EFDAE3;
        background-color: #051A3B;
        height: 100px;
        justify-content: space-between;
        align-items: center;
    }
    .footerText {
        margin-right: 10px;
        text-align: right;
    }
    .footerText a {
        color: #EFDAE3;
        text-decoration: none;
    }
    .footerText a:hover {
        color: #EFDAE3;
        text-decoration: underline;
    }
    /* menu starts here */
    .menuBurger {
        position: absolute;
        right: 40px;
        top: 130px;
        z-index: 1;
        color: #EFDAE3;
    }
    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        background-color: rgb(5, 26, 59);
        background-color: rgba(5, 26, 59, 0.9);
        overflow-x: hidden;
        transition: 0.5s;
    }
    .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }
    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
    .overlay a:hover,
    .overlay a:focus {
        color: #f1f1f1;
    }
    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
    }
    .menuDesk {
        display: none;
    }
    /* menu ends here */
}

@media only screen and (min-width: 770px) {
    .header {
        margin: 0;
        display: flex;
        font-size: 22px;
        font-weight: 400;
        color: #051A3B;
        background-color: #F6F6F6;
        height: 100px;
    }
    .headMoto {
        position: absolute;
        top: 40px;
        right: 40px;
    }
    .footer {
        display: flex;
        bottom: 0px;
        width: 100%;
        font-size: 22px;
        font-weight: 400;
        color: #EFDAE3;
        background-color: #051A3B;
        height: 100px;
        justify-content: space-between;
    }
    .footerText {
        margin: 0;
        bottom: 10px;
        margin-right: 40px;
        text-align: right;
    }
    .footerText a {
        color: #EFDAE3;
        text-decoration: none;
    }
    .footerText a:hover {
        color: #EFDAE3;
        text-decoration: underline;
    }
    /* menu */
    .menuDesk {
        position: absolute;
        width: 208px;
        right: 40px;
        top: 140px;
        z-index: 1;
    }
    .menuDesk a {
        background-color: rgba(239, 218, 227, 0.20);
        color: #051A3B;
        display: block;
        text-decoration: none;
        margin: 0 0 8px 0;
        text-align: center;
        font-size: 16px;
        padding: 11px 0 13px 0;
        width: 208px;
    }
    .menuDesk a:hover {
        background-color: #051A3B;
        color: #EFDAE3;
    }
    .overlay {
        display: none;
    }
    .menuBurger {
        display: none;
    }
    /* ends here */
}


/* header footer css ENDS here */

button {
    background-color: rgba(239, 218, 227, 0.4);
    border: 1px solid rgba(239, 218, 227, 0.2);
    color: #051A3B;
    font-size: 30px;
    font-weight: bold;
    box-shadow: 4px 5px rgba(0, 0, 0.20, 0.20);
}

button:hover {
    background-color: rgba(5, 26, 59, 0.4);
    border: 2px solid #051A3B;
}